.section-title {
  text-align: center;
  font-size: 2.5em;
  position: relative;
  padding-bottom: 0.5em;
  margin-bottom: 0.8em;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: calc(50% - 50px);
    width: 100px;
    height: 4px;
    background-color: $brand-color;
  }
}

.medium-title {
  font-size: 1.3em;
  font-weight: 400;
  margin: 1.8em 0 1.1em;
}

@media all and (min-width: $breakpoint-medium) {
  .section-title {
    font-size: 2.8em;
    margin-bottom: 1.1em;
  }
}
