* {
  box-sizing: border-box;
}

body {
  background: $background-color;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

p {
  line-height: 1.65;
  margin-bottom: 1em;
}

section {
  padding: 2em 0;
}

section:nth-of-type(odd) {
  background-color: $background-color-alt;
}

.section-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

.center {
  text-align: center;
}

@media all and (min-width: $breakpoint-medium) {
  section {
    padding: 3em 0;
  }
}
