.experiences {
  padding-bottom: 0;

  & .section-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  @media all and (min-width: $breakpoint-medium) {
    padding-bottom: 1em;
  }
}
