.header {
  & > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 1em 1.3em;
  }

  &__navbar-toggle {
    font-size: 1.8em;
    cursor: pointer;
  }

  @media all and (min-width: $breakpoint-medium) {
    &__navbar-toggle {
      display: none;
    }
  }
}
